<% layout( 'layout' ) -%>

<h2>There are currently <%= total %> tickets.</h2>
<table>
<tr>
    <td>Name</td>
    <td>email</td>
    <td>address</td>
    <td>bitcoin</td>
    <td>count</td>
    <td>updated</td>
    <td></td>
  </tr>
<% raffles.forEach( function( raffle ){ %>
 <tr>
    <td><%= raffle.name %></td>
    <td><%= raffle.email %></td>
    <td><%= raffle.address %></td>
    <td><%= raffle.bitcoin %></td>
    <td><%= raffle.count %></td>
    <td><%= raffle.updated_at %></td>
    <td><a href="/destroy/<%= raffle._id %>" title="Delete this item">Die</a></td>
  </tr>
 <% }); %>
</table>
<br>
