<% layout( 'layout' ) -%>
<% include base %>

<h2>There are currently <%= total %> tickets.</h2>
<h2>Rules</h2>
<ul>
  <li>Raffle only open to Bay Area residents. </li>
  <li>There is no limit to the number times you may request a ticket. However, no individual may hold more than 5% of the total outstanding tickets at any time.</li>
  <li>Each raffle ticket is a binding contract that you will accept a prize if you win.</li>
  <li>Raffle tickets may not be sold or transferred.</li>
</ul>


<div id="load">
  <a name="load"></a>
  <% if (typeof username != 'undefined'){ %>
  <h2><%= username %></h2>
  <% } else { %>
  <h2>Load Ticket Account </h2>
  <% } %>
  <% if (typeof load_error != 'undefined'){ %>
  <span class="error"><%= load_error %></span>
  <% } %>
  <% if (typeof user_id != 'undefined'){ %>
  <h2>You have <%= usertotal %> tickets, or <%= userpct %>% of the total.</h2>
  <%= email %>
    <form action="/add/<%= user_id %>" method="get" accept-charset="utf-8">
        <div>
        <input type="submit" id="go" name="Go" value="Get More Tickets"/>
        </div>
    </form>
  <% } else { %>
  <form action="/" method="post" accept-charset="utf-8">
      <div>
      <span class="inline">
      <input type="text" id="findemail" name="findemail" placeholder="Email" /><span>
      <span class="inline">
      <input type="submit" name="Go" value="Go"/></span>
      </div>
  </form>
  <% } %>
</div>


<div id="card">
  <a name="getone"></a>
  <h2>Get a Ticket </h2>
  <% if (typeof get_error != 'undefined'){ %>
  <span class="error"><%= get_error %></span>
  <% } %>
  <% if (typeof errors != 'undefined'){ %>
  <span class="error"><%= errors %></span>
  <% } %>
  <form action="/create" method="post" accept-charset="utf-8">
      <input type="text" id="username" name="username" placeholder="Name" required />
      <input type="text" id="email" name="email" placeholder="Email" required />
      <input type="text" id="home" name="address" placeholder="Home Address" required />
      <input type="text" id="bitcoin" name="bitcoin" placeholder="Bitcoin Address" required />
      <input type="checkbox" id="tos" name="tos" required />
      <label for="tos">I accept the <a href="">Terms of service</a></label>

      <!--  // // // // // // // // // //  -->
      <input type="submit" id="submit" name="submit"/>
  </form>
</div>
<br>
