<% layout( 'layout' ) -%>
<% include base %>

<h2>There are currently <%= total %> tickets.</h2>
<h2>Rules</h2>
<ul>
  <li>Raffle only open to Bay Area residents. </li>
  <li>There is no limit to the number times you may request a ticket. However, no individual may hold more than 5% of the total outstanding tickets at any time.</li>
  <li>Each raffle ticket is a binding contract that you will accept a prize if you win.</li>
  <li>Raffle tickets may not be sold or transferred.</li>
</ul>
<% raffles.forEach( function( raffle ){ %>
  <p>
    <span><%= raffle.email %></span>
    <span><%= raffle.count %></span>
    <span>
      <a href="/destroy/<%= raffle._id %>" title="Delete this item">Delete</a>
    </span>
  </p>

<% }); %>
<div id="load">
  <h2>Load Ticket Account </h2>
  <% if (typeof usertotal != 'undefined'){ %>
  <h2>You have <%= usertotal %> tickets, or <%= userpct %>% of the total.</h2>
  <% } %>
  <% if (typeof error != 'undefined'){ %>
  <span class="error"><%= error %></span>
  <% } %>
  <form action="/find" method="post" accept-charset="utf-8">
      <input type="text" id="findemail" name="findemail" placeholder="Email" />
      <!--  // // // // // // // // // //  -->
      <input type="submit" id="submit" name="Go"/>
  </form>
</div>

<div id="card">
  <h2>Get a Ticket </h2>
  <% if (typeof error != 'undefined'){ %>
  <span class="error"><%= error %></span>
  <% } %>
  <form action="/create" method="post" accept-charset="utf-8">
      <input type="text" id="username" name="username" placeholder="Name"/>
      <input type="text" id="email" name="email" placeholder="Email" />
      <input type="text" id="home" name="address" placeholder="Home Address" />
      <input type="text" id="bitcoin" name="bitcoin" placeholder="Bitcoin Address" />
      <input type="checkbox" id="tos" name="tos" />
      <label for="tos">I accept the <a href="">Terms of service</a></label>

      <!--  // // // // // // // // // //  -->
      <input type="submit" id="submit" name="submit"/>
  </form>
</div>
